
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgba(255, 255, 255); */
  
  }
  
  
  nav{

  /* border-bottom: 1px solid black; */
  height: 50px;
  /* background-color: #3d4647; */
  z-index: 100;
  }
  .navbar{
  position: absolute;
  width: 100%;
  
  }
  
  .webname{
  z-index:100;
  font-size: 15px;
  color: rgb(0, 0, 0);
  }
  
  @media (min-width: 1024px) {
  .webname{
  position: absolute;
  width: 130px;
  margin-top: 0px;
  margin-left: 1200px;
  }
  }
  
  @media (max-width: 1023px) {
  .webname{
  width: 100px;
  margin-top: 10px;
  margin-left: 850px;
  }
  }
  
  @media (max-width: 767px) {
  .webname{
  position: absolute;
  width: 80px;
  margin-top: 50px;
  margin-left: 200px;
  z-index: 1;
  }
  }
  
  /*search*/
  
  .search-box:hover{
  transform: scale(20px,20px);
  
  }
  
  .search-box .row{
  display: flex;
  align-items: center;
  padding:0px 60px;
  }
  
  .search-box input{
  flex: 1;
  margin-left: -50px;
  width: 320px;
  height: 30px;
  
  background: transparent; 
  border: 0;
  outline: 0;
  font-size: 18px;
  color: white;
  /* color: rgb(236, 226, 226); */
  
  }
  
  .search-box  button{
  position: absolute;
  color: rgb(252, 252, 252);
  background: transparent; 
  border: 0;
  outline: 1;
  margin-top: -5px;
  cursor: pointer;
  padding: 10px 10px; 
  }
  
  .result-box ul{
  margin-top: 10px;
  background-color: #ffffff;
  padding: 25px 10px;
  
  }
  
  .result-box ul li{
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  border-radius: 3px;
  padding:15px  10px;
  color: #000000;
  }
  .result-box ul li:hover{
  color: white;
  background-color: #8d67cf;
  }
  .result-box{
  
  max-height: 250px;
  overflow-y: scroll;
  } 
  
  .sidebar{
  position: absolute;
  width:300px;
  margin-top: 50px;
  
  }
  
.sidebar{
position: absolute;
width:300px;
margin-top: 50px;

}
.profile img{
width: 50px;
height: 50px;
border-radius: 50%;
}


/*send email*/

/* 
  @media (min-width: 1023px){
    .open-button {
      top:495px;
    
    }
  }*/
  
  @media (min-width: 1024px) {
    .open-button {
     display: none;
      }
  .container{
  margin-left: 300px;
  width: 820px;
  height:480px;
  margin-top: 2700px;

  
  }
  .container form{
    position: absolute;
    z-index: 400;
    position: absolute;
    background-color: #c0fac4;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20vm 4vm;
    height: 100%;
    border-radius: 10px;
    }
    .container h1{
          color: #31A677;
       
    }
    .container form input , .container form textarea {
  
      border:0;
      margin: 10px 0;
      padding: 10px;
      outline: none;
      background-color: rgb(250, 248, 248);
      font-size: 16px;
      width:500px;
      margin-left: 100px;
      margin-right: 20px;
      border-radius: 10px;
      }
      .container form button{
        width: 30%;
        margin-left:220px;
        border-radius: 40px;
        padding:10px 10px;
        background-color: rgb(254, 252, 255);
        color: rgb(0, 0, 0);
        outline: none;
        cursor: pointer;
        border: 0;
        }
        .container form button:hover{
          background-color: #31A677;
        }
        .container form h3{
          font-weight: 800px;
          margin-top: 10px;
          margin-left: 150px;
          color: #31A677;
          }

          
  .container .btn {
  
 display: none;
  } 
 
  .container{
    z-index: 400;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
    }
  }
  
  @media (max-width: 1023px) {
  .container{
  margin-left: 580px;
  width: 400px;
  height:420px;
  margin-top: 150px;
  }
  }




   @media (max-width: 767px) {

    .open-button {
      z-index: 200;
      margin-top: 100px;
      background-color: #64ca5b;
      border: 1px solid black;
      color: rgb(0, 0, 0);
      font-size: 18px;
      font-weight: 300px;
      /* padding: 6px 5px; */
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      padding: 3px 2px;
      margin-left:300px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      }
      
      .open-button {
        top:540px;
        bottom:0;
       
      }
      
      .container{
      z-index: 400;
      position: fixed;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      
      
      }
      .container h1{
   display: none;
     
  }
  .container{
    margin-left: 60px;
    width: 300px;
    height:340px;
    margin-top: 150px;
    }
    .container form{
      position: absolute;
      z-index: 400;
      position: fixed;
      background-color: #8d67cf;
      display: flex;
      flex-direction: column;
      padding: 20vm 4vm;
      height: 55%;
      border-radius: 10px;
      
      }
      .container form input , .container form textarea {
    
        border:0;
        margin: 10px 0;
        padding: 10px;
        outline: none;
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        width:270px;
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 10px;
        }
        .container form button{
          width: 30%;
          margin-left:150px;
          border-radius: 40px;
          padding:10px 10px;
          background-color: rgb(254, 252, 255);
          color: rgb(0, 0, 0);
          outline: none;
          cursor: pointer;
          border: 0;
          }
          .container form h3{
            font-weight: 800px;
            margin-top: 10px;
            margin-left: 100px;
            color: white;
            }
            
    .container .btn {
      
    margin-left: 50px;
    margin-top: -35px;
    }
  }

  
  
  
  /* #bg{
    position: fixed;
  width: 100%;
  height:580px; 
  
  }
  
  .bg h1{
  color: rgb(251, 251, 251);
   position: absolute;
  font-size: 30px;
  top:500px;
  z-index: 100;
  margin-left: 100px;
  
      }
      .bg img{
        margin-top: 50px;
        z-index: -1;
      }  */
      /* .bg .dark{
        background-image: url("night.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
      } */



 /*footer*/
 footer{
  z-index: -10;
  background: hwb(186 24% 72%);
  position: absolute;
  width: 100%;
  left: 0;
  }
  footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 2px;
  width: 100%;
  background: #000000;
  }
  footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  }
  footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  }
  .content .top .logo-details{
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
  
  } 
  footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  }
  .link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #ffffff;
  }
  .content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
  }
  .content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
  }
  .content .link-boxes .input-box{
  margin-right: 55px;
  }
  .link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
  color: #ffffff;
  font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
  background: #3b3939;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
  opacity: 1;
  }
  footer .bottom-details{
  width: 100%;
  background: #313129;
  }
  footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  }
  .bottom-details .bottom_text span:hover{
  opacity: 1;
  
  }
  .bottom-details .bottom_text span{
  margin-right: 10px;
  }
  
  
  
  @media (min-width: 1024px) {
  footer{
    position: absolute;
    margin-top: 60%;
    
  }
  footer .content .link-boxes{
    flex-wrap: wrap;
    
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 100px;
  }
  }
  
  @media (max-width: 1023px){
  footer{
  
    position: absolute;
    margin-top: 900%;
   
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
  }
  
  @media (max-width: 767px){
  footer{
    position: absolute;
    margin-top:800px;
   
  }
  footer::before{
    top: 245px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
  } 
  

    /*course location subheader*/
.menu__wrapper {
  display: none;
  position: fixed;
 top: 50px;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
  gap: 24px;
  /* background-color: rgb(79, 110, 122); */
  /* background-color: var(--background); */
  height:50px;
  padding: 0px 16px;
  align-items: center;
  /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1); */
}
.menu__bar {

  display: flex;
  align-items: center;
  margin-left: 0px;

}

.navi .navigation {
  /* margin-left: 32px; */
  display:flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;  
  gap: 16px;
  height: 50px;
  /* background-color: rgb(5, 214, 193); */
  /* background-color: chartreuse;//navigation space box */
}
.navi .navigation li {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;

  /* height: 10px; */
  min-height: 36px;
  padding: 0px 10px ;
}
.navi .navigation li a {
 
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.navi .navigation li a:hover {
  color:grey;
  /* background list hover */
}
.navigation li button {
  /* background-color: yellow; */
  /* color: #e90000; */
  color: white; 
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -4px;
  align-items: center;
  min-height: 36px;
  font-size: 14px;
  gap: 4px;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: nowrap;
  border-radius: 999px;
  padding: 4px 10px;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
  /* feature specific button */
}
.navigation li button svg {
  margin-top: 2px;
  fill: rgb(255, 248, 248);
  /* fill: pink; */
  transition: all 0.2s ease-in-out;
  /* dropdown button of feature */
}

.navigation li:hover button svg {
  fill: white;
  rotate: 180deg;
}
.navigation li:hover button {
  color: rgb(0, 0, 0);
  background-color: rgb(195, 190, 190);
  /* background-color: blue; */
  /* feature hover */
}

.navigation li:hover .dropdown {
  display: block;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.99) translateY(-0.7em);
      transform-origin: top;
  }

  to {
      opacity: 1;
      transform: scale(1) translateY(0);
  }
}


.dropdown__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 60px;
}
.dropdown {
  border-radius: 8px;
  background-color: white;
  /* background-color: gold; */
  display: none;
  padding: 8px;
  width: 100%;
    max-width: 600px;
  border: 1px solid black;
  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, .12),  0 30px 60px -30px rgba(0, 0, 0, .15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;

}
.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* background-color: #f54500; */
  /* background-color: green;//group of inside list  ofgold*/
}
.list-items-with-description li {
  /* background-color: green; */
  /* //group of inside list  ofgold*/ 
 display:flex;
 padding: 2px;
 gap: 16px;
 width: fit-content;

}
.list-items-with-description li:hover {
  background-color: grey;
  border-radius: 6px;
  
  /* list hover of green list */
}
.list-items-with-description li svg {
   
  stroke: black;
  stroke-width: 1px;
  width: 24px;
  height: 24px;
   /* stroke: lightblue;//icon color */
}

.item-title h3 {
  font-weight: 500;
  font-size: 14px;
  color: black;

}

.item-title p {
  font-size: 12px;
  white-space: nowrap;
  color: black;
}


/* .mainpage{
  width: 950px;
border: 1px solid black; 
  margin-left: 20px;
}  */

/* 
.main {
  position: absolute;
    margin-top: 200px;
    height: 60vh;
    width: 100%;
    z-index: -100;
  
  
}
.wrapper, .slide {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slide {

    overflow: hidden; */
    /* background-color: #6d5f54; */
   
  /* }
.slide .image {
    margin-top: 5%;
    margin-left: 55%;
    margin-right: 50%;
    height: 60%;
    width: 30%;
    object-fit:cover;
    border-radius: 5%;
   
}
.slide .image-data {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}
.image-data span.text {
    font-size: 10px;
    font-weight: 400;
    font-size: 25px;
    color:  white;
}
.slide::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.4);
    z-index: 10;
}
.image-data h2 {
    font-size: 45px;
    font-style: initial;
    font-weight: 600;
    color: black;
}
.image-data a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    color: #121312;
    background: #b0f45c;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}
.image-data a.button:hover{
    color: #fff;
    background-color: #94857b;
}




  /* swiper button css */
  /* d40;
}
.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: white;
   
}
.swiper-pagination.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(251, 249, 249);
}
.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
    right: 50px;
}
.swiper-button-prev {
    left: 50px;
}
.nav-btn::before,
.nav-btn::after {
    font-size: 25px;
    color: #051-bullet-active;
    border: 2px solid #fff;
    background-color: #c87e4f;
}  */


/* @media screen and (max-width: 768px) {
    .nav-btn {
      visibility: hidden;
    }
    .swiper-pagination-bullet {
      visibility: visible;
    }
  } */
  
  @media (min-width: 1024px) {
    .mainpage{
      width: 950px;
      /* border: 1px solid black; */
      margin-left: 50px;
    }
  .main {
    

    position: absolute;
      margin-top: 300px;
      height: 60vh;
      width: 100%;
      z-index: -100; 
  }
  .slide .image-data {
      background-color: rgb(120, 226, 143);
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 60%;
    z-index: 100;
    border-radius: 2%;
}
.image-data span.text {
    font-size: 10px;
    font-weight: 400;
    font-size: 25px;
    color:  white;
}
.slide .image {
  margin-top: 2.5%;
  margin-left:65%;
  margin-right: 50%;
  height: 60%;
  width: 20%;
  object-fit:cover;
  border-radius: 5%;
 
}
.image-data h2 {
  font-size: 45px;
  font-style: initial;
  font-weight: 600;
  color: black;
}
.wrapper, .slide {

  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
}



  
  .slide {
  
      overflow: hidden;
      /* background-color: #6d5f54; */
     
    }
 

  .slide::before {
      content: "";
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(2, 2, 2, 0.4);
      z-index: 10;
  }

  .image-data a.button {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      color: #121312;
      background: #f7f8f5;
      text-decoration: none;
      margin-top: 25px;
      transition: all 0.3s ease;
  }
  .image-data a.button:hover{
      color: #fff;
      background-color: #94857b;
  }
  
  
  
  
    /* swiper button css */
    .nav-btn {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: rgba(251, 249, 249);
  }
  .nav-btn:hover {
      background: rgba(255, 255, 255, 0.4);
  }
  .swiper-button-next {
      right: 50px;
  }
  .swiper-button-prev {
      left: 50px;
  }
  .nav-btn::before,
  .nav-btn::after {
      font-size: 25px;
      color: #051d40;
  }
  .swiper-pagination-bullet {
      opacity: 1;
      height: 12px;
      width: 12px;
      background-color: white;
     
  }
  .swiper-pagination-bullet-active {
      border: 2px solid #fff;
      background-color: #c87e4f;
  } 
  
  
  @media screen and (max-width: 767px) {
    .mainpage{
      width: 900px;
   
      /* margin-left: 10px; */
    }
      .nav-btn {
        visibility: visible;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
      }
      .swiper-pagination-bullet {
        visibility: visible;
      }
     
      .main {
       
        position: absolute;
          margin-top: 100px;
          height: 60vh;
          width:60%;
          z-index: -100; 
          
      }
      .slide .image {
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 50%;
        height: 30%;
        width: 80%;
        object-fit:cover;
        border-radius: 5%;
       
    }
      .slide .image-data {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        z-index: 100;
  
    }
    .image-data span.text {
        font-size: 16px;
        font-weight: 400;
        /* font-size: 25px; */
        color:  rgb(0, 0, 0);
    }
    .image-data h2 {
      font-size: 18px;
      font-style: initial;
      font-weight: 600;
      color: black;
  }
  .wrapper, .slide {
 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
    }


.image-data h2{
font-size: 20px;
  }


.loginopen-button{
  z-index: 100;
  cursor: pointer;
  /* opacity: 0.8; */
  background-color: rgb(245, 204, 0);
    position: absolute;
    border: none;
    width: 100px;
    height: 30px;
     border-radius: 100px; 
    top: 10px;
    margin-left: 980px;
    z-index: 400;
    font-weight: bolder;
}

@media (min-width: 1024px) {
  .keyboard{
    color: #020202;
      margin-top: 500px;
      width: fit-content;
      margin-left: 300px;
    }
    
      .key {
        font-size: 30px;
        display: inline-block;
        letter-spacing: 2px;
        transition: transform 0.2s;
      }
    }



@media (max-width: 767px) {
  .keyboard{
    color: #020202;
      margin-top: 550px;
      width: fit-content;
      margin-left: 30px;
    }
    
      .key {
        font-size: 20px;
        display: inline-block;
        letter-spacing: 2px;
        transition: transform 0.2s;
      }
}
  @keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }

  
  
  
  .key:nth-child(1) {
    animation: pressDown1 2s infinite;
  }
  
  .key:nth-child(2) {
    animation: pressDown2 3s infinite;
  }
  
  .key:nth-child(3) {
    animation: pressDown3 4s infinite;
  }
  
  .key:nth-child(4) {
    animation: pressDown4 2.5s infinite;
  }
  
  .key:nth-child(5) {
    animation: pressDown5 2.5s infinite;
  }
  
  .key:nth-child(6) {
    animation: pressDown6 3.5s infinite;
  }
  
  .key:nth-child(7) {
    animation: pressDown7 2.2s infinite;
  }
  
   /* extra stuff */
   /* a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left:20px;
  }
  
  a:hover {
    border: 1px solid rgba(255,255,255,0.6);
  } */



/*    
  code {
    font-family: "Consolas", "Andale Mono", "Lucida Sans Typewriter",
      "Roboto Mono", "SF Mono", "Courier New", Courier, monospace;
    font-weight: normal;
    font-variant-ligatures: none;
  } */
  
  .color h1 {
    text-align: center;
    line-height: 1;
  }
  

  

  summary::-webkit-details-marker {
    display: none;
  }
  
  summary > span {
    width: .75em;
    height: .75em;
    display: inline-block;
    border-radius: 50%;
    padding: .1em;
    line-height: 0;
  }
  
  summary:focus {
    outline: none;
  }
  
  summary:focus > span,
  summary:hover > span {
    outline: .1em solid #000;  
  }
  
  #Error summary:focus > span,
  #Error summary:hover > span {
    outline-color: #fff;  
  }
  
  summary svg {
    width: .75em;
    height: .75em;
    fill: currentColor;
    translate: 0 .1em;
    transition: all 0.25s ease-in;
    transform-origin: center 45%;
  }

 details[open] summary svg line:last-child {
    stroke: transparent;
  } 
  
  details[open] summary svg {
    transform: rotate(180deg);
    translate: 0 0;
  }
  
  details p   {

    margin: -.5em 0 0 0;
    padding: 0 0 1em 0;
    width: 25em;
  color: white;
  font-weight: bolder;

  }


  @media (min-width:1024px) {

    #Confirm {
      background-color: #374218;
      color: #000;
      font-weight: bolder;
      
    }
    
    #Confirm summary {
      translate: 4em;
    }
    
    #Confirm p {
      translate: 22.7em;
    }
    
  
  
    #Inform {
      background-color: #6CACC9;
      color: #000;
      font-weight: bolder;
    }
    
    #Inform summary {
      translate: 5em;
    }
    
    #Inform p {
      translate: 22.7em;
    }
    
    #Content{
      color: #000;
      font-weight: bolder;
    }
    #Content summary {
      translate: -2.7em;
    }
    
    #Content p {
      color: black;
      translate: 17.4em;
    }
    


    #Warn {
      background-color: #DAD06F;
      color: #000;
      font-weight: bolder;
    }
    
    #Warn summary {
      translate: -10em;
    }
    
    #Warn p {
      translate: 14.8em;
    }
    
    #Error {
      background-color: #BB6673;
      color: #000;
      font-weight: bolder;
    }
    
    #Error summary {
      translate: -13.5em;
    }
    
    #Error p {
      translate: 12.2em;
    }

    #Error1 {
      
      background-color: #BB6673;
      color: #000;
      font-weight: bolder;
    }
    
    #Error1 summary {
      translate: -6em;
    }
    
    #Error1 p {
      translate: 14.8em;
    }


    #Warn1 {
      color: #000;
      font-weight: bolder;
      background-color: #DAD06F;
    }
    
    #Warn1 summary {
      translate: -5em;
    }
    
    #Warn1 p {
      translate: 14.8em;
    }
      #Content1{
        color: #000;
        font-weight: bolder;
      }
    #Content1 summary {
      translate: 2.7em;
    }
    
    #Content1 p {
      translate: 17.4em;
      color: black;
    }
    #Inform1 {
      background-color: #6CACC9;
      color: #000;
      font-weight: bolder;
    }
    
    #Inform1 summary {
      translate: 6em;
    }
    
    #Inform1 p {
      translate: 22.7em;
    }

    div#Wrap {
      aspect-ratio: 10 / 9;
      display: grid;
      align-items: center;
      align-content: center;
      gap: 0;
      width: 800px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 100px;
      margin-left: 300px;

    }
    details {
      /* border: 1px solid black; */
      color: #333;
     
      margin: 0;
      padding: 0;
      font-size: 100%;
    }
  }


  
  
  section[role][aria-labelledby] {
    transform: rotate(360deg);
    width: 120%;
    translate: -5em;
  }
  
  
  summary {
    list-style: none;
    text-align: center;
    padding: 1em 0;
    cursor: pointer;
  }
  

  @media (max-width:767px) {
     
    details p {
      margin: -.5em 0 0 0;
      padding: 0 0 1em 0;
      width: 10em;
    }
    
    #Confirm {
      background-color: #31A677;
      color: #000;
    }
    
    #Confirm summary {
      translate: 1em;
    }
    
    #Confirm p {
      translate: 10em;
    }
    
    #Inform {
      background-color: #6CACC9;
      color: #000;
    }
  
    
    #Inform summary {
      translate: 1em;
    }
    
    #Inform p {
      translate: 10em;
    }
    
  
    #Content summary {
      translate: 1em;
    }
    
    #Content p {
      translate: 10em;
    }
    
    #Warn {
      background-color: #DAD06F;
    }
    
    #Warn summary {
      translate: 1em;
    }
    
    #Warn p {
      translate: 10em;
    }
    
    #Error {
      background-color: #BB6673;
      color: #fff;
    }
    
    #Error summary {
      translate: 1em;
    }
    
    #Error p {
      translate: 10em;
    }






    #Error1 {
      
      background-color: #BB6673;
      color: #000;
      font-weight: bolder;
    }
    
    #Error1 summary {
      translate: 1em;
    }
    
    #Error1 p {
      translate: 10em;
    }


    #Warn1 {
      color: #000;
      font-weight: bolder;
      background-color: #DAD06F;
    }
    
    #Warn1 summary {
      translate: 1em;
    }
    
    #Warn1 p {
      translate: 10em;
    }
      #Content1{
        color: #000;
        font-weight: bolder;
      }
    #Content1 summary {
      translate: 1em;
    }
    
    #Content1 p {
      translate: 10em;
    }
    #Inform1 {
      background-color: #6CACC9;
      color: #000;
      font-weight: bolder;
    }
    
    #Inform1 summary {
      translate: 1em;
    }
    
    #Inform1 p {
      translate: 10em;
    }
      /* body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "h1heading"
        "accordion";
        gap: 10em 0;
        justify-items: center;
        align-items: center;
        position: relative;
      } */
      h1 {
        grid-area: h1heading;
      }
      div#Wrap {
        grid-area: accordion;
        transform: rotate(360deg);
    /*     transform-origin: 61% 66%; */
        position: absolute;
        top: 1em;
      }
      

  div#Wrap {
    /* background-color: #f2eeee; */
    aspect-ratio: 16 / 9;
    display: grid;
    align-items: center;
    align-content: center;
    gap: 0;
    width: 20em;
    height: 1000px;
    margin: 0 auto;
    margin-top: 1400px;
    margin-left:30px;
    overflow: hidden;
    /* border :1px solid black; */
  }
    }





  /* @media (max-width:767px) { */

    /* body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "h1heading"
      "accordion";
      gap: 10em 0;
      justify-items: center;
      align-items: center;
      position: relative;
    } */
  
    
    /* #Confirm {
      background-color: #374218;
      color: #000;
      font-weight: bolder;
      width: 300px;
      
    }
    
    #Confirm summary {
      translate: 4em;
    }
    
    #Confirm p {
      translate: 22.7em;
    }
    
  
  
    #Inform {
      background-color: #6CACC9;
      color: #000;
      font-weight: bolder;
    }
    
    #Inform summary {
      translate: 5em;
    }
    
    #Inform p {
      translate: 22.7em;
    }
    
    #Content summary {
      translate: -2.7em;
    }
    
    #Content p {
      translate: 17.4em;
    }
    


    #Warn {
      background-color: #DAD06F;
    }
    
    #Warn summary {
      translate: -10em;
    }
    
    #Warn p {
      translate: 14.8em;
    }
    
    #Error {
      background-color: #BB6673;
      color: #fff;
    }
    
    #Error summary {
      translate: -8.5em;
    }
    
    #Error p {
      translate: 12.2em;
    }

    div#Wrap {

      aspect-ratio: 10 / 9;
      display: grid;
      align-items: center;
      align-content: center;
      gap: 0;
      width: 800px;
      margin: 0 auto;
      overflow: hidden;
      margin-top:200px;
      margin-left: 30px;
border: 1px solid black;
      /* aspect-ratio: 10 / 9;
      grid-area: accordion;
      transform: rotate(360deg); */
  /*     transform-origin: 61% 66%; */
      /* position: absolute; */
      /* top: 150; */
      /* width: 400px; */
      /* height: fit-content; */
      /* margin-top: 400px;
      margin-left:50px;
    border:1px solid rgb(230, 26, 26); */
    /* }
    details{
      width: 80px;
      margin-left: 20px;
      border: 1px solid black;
      
    }
    
    details p{
     
      width: 100px;
    }
    summary {
      list-style: none;
      text-align: center;
      padding: 1em 0;
    }
  }  */
  
  


  /*bottom to top*/
@media (min-width: 1024px) {
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
   /* Place the button at the bottom of the page */
    right: 20px; 
    bottom: 50px;
  /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(139, 244, 134); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
  width: 30px;/* Some padding */
  height: 30px;
  padding: 2px 2px;
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    
    background-color: rgb(14, 223, 150); /* Add a dark-grey background on hover */
  }
  }
  
  
  
  
  @media (max-width: 767px) {
    #myBtn {
      bottom:0;
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      /* Place the button at the bottom of the page */
    margin-left: 300px;
    /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: rgb(139, 244, 134); /* Set a background color */
      color: rgb(0, 0, 0); /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
    width: 30px;/* Some padding */
    height: 30px;
    padding: 2px 2px;
      border-radius: 50%; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }
    
    #myBtn:hover {
      background-color: rgb(14, 223, 150); /* Add a dark-grey background on hover */
    }
  }


  .loginclass{
    position:fixed;
    text-decoration: none;
  }
     
  .loginopen-button{

    z-index: 100;
    cursor: pointer;
    /* opacity: 0.8; */
    background-color: rgb(139, 244, 134);
      position: fixed;
      border: none;
      width: 100px;
      height: 30px;
       border-radius: 100px; 
      top: 10px;
      margin-left: 980px;
      z-index: 400;
      font-weight: bolder;
  }
/* 
 .form__input-group .email-icon {
      position: absolute;
      right: 50px;
      top: 37%;
      transform: translateY(-50%);
      font-size: 22px;
      color: #aaa8a8;
    }
    .logincancel{
background-color: rgb(1, 119, 58);
color: white;
border-radius: 50%;
border: none;
    }
    .form__input-group .show1 {
      position: absolute;
      right: 60px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: #b4b4b4;
    }
    .form__input-group .show2 {
      position: absolute;
      right: 60px;
      top: 62%;
      transform: translateY(-50%);
      font-size: 22px;
      color: #b4b4b4;
    }
  
  
  .container1 {
    position: fixed;
    z-index: 500;
    top: 100px;
    left: 900px;
      width: 320px;
      max-width: 900px;
      margin: 1rem;
      padding: 2rem;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      border-radius:1px;
      background: #ffffff;
      display: none;
     
  }
  
  .container1,
  .form__input,
  .form__button {
      
      font: 500 1rem 'Quicksand', sans-serif;
  }
  
  .form--hidden {
      display:none;
  }
  
  .form > *:first-child {
      margin-top: 0;
  }
  
  .form > *:last-child {
      margin-bottom: 0;
  }
  
  .form__title {
      margin-bottom: 2rem;
      text-align: center;
  }
  
  .form__message {
      text-align: center;
      margin-bottom: 1rem;
  }
  
  .form__message--success {
      color: green;
  }
  
  .form__message--error {
      color: green;
  }
  
  .form__input-group {
      margin-bottom: 1rem;
  }
  
  .form__input , 
  .form__input1{
      display: block;
      width: 100%;
      padding: 0.75rem;
      box-sizing: border-box;
      border-radius:5px;
      border: 1px solid #dddddd;
      outline: none;
      background: #eeeeee;
      transition:  0.2s, border-color 0.2s;
  }
  
  .form__input:focus ,
  .form__input1:focus{
   border-color:gold;   
      background: #ffffff;
  }
  
  .form__input--error {
      color: rgb(247, 174, 2);
      border-color:red;
  }
  
  .form__input-error-message {
      margin-top: 0.5rem;
      font-size: 0.85rem;
      color: red;
  }
  
  .form__button {
      width: 100%;
      margin-top: 15px;
      padding: 1.5rem 2rem;
      font-weight: bold;
      font-size: 1.1rem;
      color: hsl(0, 0%, 100%);
      border: none;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      background:rgb(1, 119, 58);
  }
  
  .form__button:hover {
      background:rgb(3, 220, 123);
  }
  
  .form__button:active {
      transform: scale(0.98);
  }
  
  .form__text {
      text-align: center;
  }
  
  .form__link {
      color: grey;
      text-decoration: none;
      cursor: pointer;
  }
  
  .form__link:hover {
      text-decoration: underline;
  }  */