body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255);

}
nav{

  border-bottom: 1px solid black;
  height: 50px;
  background-color: #3d4647;
  z-index: 100;
}
.navbar{

 z-index: 400;
  position: fixed;
  width: 100%;

}
.webname{

  margin-top: -40px;
  margin-left: 1200px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.content-area button{
  padding: 0px 0px;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(252, 252, 252); 
}
.dropdown-content {
  margin-top: 20px;
  display: none;
  position: absolute;
  margin-left: 25px;
  border-radius: 4%;
  background-color: rgba(0, 0, 0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a button{
  background-color: black;
}

.dropdown-content a {
  font-size: 15px;
  margin-left: 10px;
  float: none;
  color: #e7e7e7;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  
}
.dropdown-content a i{
  margin-left: 60px;
}
.show {
  display: block;
}
.dropdown-content1 {
  margin-top: -60px;
  display: none;
  position: absolute;
  margin-left: 160px;
  border-radius: 4%;
  background-color: rgba(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content1 a {
  font-size: 15px;
  margin-left: 10px;
  float: none;
  color: #e7e7e7;
  padding: 8px 0px;
  text-decoration: none;
  display: block;
  
}
.show1 {
  display: block;
}



/*search*/
.search-box{
  position: absolute;
  width:  450px;
  height: 40px;
  background-color: rgba(0, 0, 0,0.3);
  margin-top: -25px;
  margin-left: 450px;
  z-index: 2;
  border-radius: 5px;
 }
.search-box:hover{
  transform: scale(20px,20px);

}

.search-box .row{
  display: flex;
  align-items: center;
  padding:0px 60px;
 }

.search-box input{
  flex: 1;
  margin-left: -50px;
  width: 320px;
  height: 30px;
 
  background: transparent; 
  border: 0;
  outline: 0;
  font-size: 18px;
 
  /* color: rgb(236, 226, 226); */

 }

.search-box  button{
  position: absolute;
color: rgb(255, 255, 255);
/* background-color: wheat; */
   background: transparent; 
  border: 0;
  outline: 1;
 
 margin-top: -5px;
  cursor: pointer;
 padding: 10px 10px; 
  margin-left: 10%;

}

.result-box ul{
  margin-top: 10px;
  background-color: #ffffff;
  padding: 25px 10px;
}

.result-box ul li{
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  border-radius: 3px;
  padding:15px  10px;
}
.result-box ul li:hover{
  color: white;
  background-color: #696464;
}
.result-box{
  
  max-height: 300px;
  overflow-y: scroll;
} 

.sidebar{
position: absolute;
width:300px;
margin-top: 50px;

}
.profile img{
width: 50px;
height: 50px;
border-radius: 50%;
}




  
  /*footer*/
footer{
  z-index: -10;
    position: absolute;
    background: #3d4647;
    width: 100%;
  
    left: 0;
    margin-top: 3000px;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 2px;
    width: 100%;
    background: #000000;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 10px 10px 10px 10px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
   .content .top .logo-details{
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
   
  } 
  /* .content .top {
    display: flex;
  } */
  /* .content .top a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  } */
  /* .top .media-icons a:nth-child(1){
    background: rgb(30, 77, 66);
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: rgb(30, 77, 66);
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: rgb(30, 77, 66);
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: rgb(30, 77, 66);
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: rgb(30, 77, 66);
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  } */
  
  
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #ffffff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #ffffff;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #3b3939;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #313129;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }

 footer ul,li {
  list-style: none;
  margin: 0;
  padding: 0
}
label{
  font-weight:normal
}


.dsa{
  position: absolute;
  margin-top: 40px;

}

/*Tree*/

.trees {
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
  

}

.trees li {
  margin-top: 5px;
  top: 10px;
  border-left: dotted 1px #bcbec0;
  padding: 4px 0 4px 25px;
  position: relative
}


.trees li > label ,
.trees1 li > label,
.trees2 li > label,
.trees3 li > label{
  position: relative;
  left: -11px
}

.trees li:before
.trees1 li:before,
.trees2 li:before,
.trees3 li:before
 {
  content: "";
  width: 13px;
  height: 1px;
  border-bottom: dotted 1px #bcbec0;
  position: absolute;
  top: 10px;
  left: 0
}

.trees li:last-child:after,
.trees1 li:last-child:after,
.trees2 li:last-child:after,
.trees3 li:last-child:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 13px;
  background: #fff;
  left: -1px;
  bottom: 0px;
}

.trees li input,
.trees1 li input,
.trees2 li input,
.trees3 li input {
  margin-right: 5px;
  margin-left: 5px
}

.trees li.has-child > ul,
.trees1 li.has-child > ul,
.trees2 li.has-child > ul,
.trees3 li.has-child > ul {
  display: none
}

.trees li.has-child > input,
.trees1 li.has-child > input ,
.trees2 li.has-child > input ,
.trees3 li.has-child > input  {
  opacity: 0;
  position: absolute;
  left: -14px;
  z-index: 9999;
  width: 22px;
  height: 22px;
  top: -5px
}

.trees li.has-child > input + .tree-control,
.trees1 li.has-child > input + .tree-control ,
.trees2 li.has-child > input + .tree-control ,
.trees3 li.has-child > input + .tree-control  {
  position: absolute;
  left: -4px;
  top: 6px;
  width: 8px;
  height: 8px;
  line-height: 8px;
  z-index: 2;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
}

.trees li.has-child > input + .tree-control:after,
.trees1 li.has-child > input + .tree-control:after,
.trees2 li.has-child > input + .tree-control:after,
.trees3 li.has-child > input + .tree-control:after {
  font-family: 'FontAwesome';
  content: "";
  font-size: 10px;
  color: #183955;
  position: absolute;
  left: 1px
}


.trees li.has-child > input:checked + .tree-control:after,
.trees1 li.has-child > input:checked + .tree-control:after,
.trees2 li.has-child > input:checked + .tree-control:after,
.trees3 li.has-child > input:checked + .tree-control:after {
  font-family: 'FontAwesome';
  content: "";
  font-size: 10px;
  color: #183955;
  position: absolute;
  left: -1px
}


.trees li.has-child > input:checked ~ ul,
.trees1 li.has-child > input:checked ~ ul,
.trees2 li.has-child > input:checked ~ ul,
.trees3 li.has-child > input:checked ~ ul {
  display: block
}

.trees ul li.has-child:last-child ,
.trees1 ul li.has-child:last-child,
.trees2 ul li.has-child:last-child,
.trees3 ul li.has-child:last-child{
  border-left: none
}

.trees ul li.has-child:nth-last-child(2):after,
.trees1 ul li.has-child:nth-last-child(2):after ,
.trees2 ul li.has-child:nth-last-child(2):after ,
.trees3 ul li.has-child:nth-last-child(2):after  {
  content: "";
  width: 1px;
  height: 5px;
  border-left: dotted 1px #b7abab;
  position: absolute;
  bottom: -5px;
  left: -1px
}

.tree-alt li {
  padding: 2px 0
}
/*tree1*/

.trees1 {
  width: 300px;
  position: absolute;
 margin-top: 50px;
 margin-left: 600px;

}

.trees1 li {
 margin-top: 5px;
 top: 10px;
 border-left: dotted 1px #bcbec0;
 padding: 2px 0 4px 20px;
 position: relative;
}
/*tree2*/

.trees2 {
  width: 280px ;
  position: absolute;
 margin-top:50px;
 margin-left: 300px;


}

.trees2 li {
 margin-top: 5px;
 top: 10px;
 border-left: dotted 1px #bcbec0;
 padding: 1px 0 4px 20px;
 position: relative
}

/*tree3*/

.trees3 {
  width: 360px;
 
  position: absolute;
 margin-top: 50px;
 margin-left:920px;
 
}

.trees3 li {

 margin-top: 5px;
 top: 10px;
 border-left: dotted 1px #bcbec0;
 padding: 2px 0 4px 20px;
 position: relative
}






 /*send email*/
.container{
  z-index: -2;
   position: absolute;
   display: none;
   margin-left: 800px;
   width: 35%;
   height:100vh;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
}

.open-button {

  z-index: -100;
   margin-top: 100px;
  background-color: #f54500;
   color: rgb(0, 0, 0);
   font-size: 18px;
   font-weight: 300px;
   padding: 6px 5px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
   position: fixed;
   bottom: 605px;
   top:500px;
   right: 20px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
 }

.container form{
   position: fixed;
   z-index: -400;
   margin-top: 80px;
   margin-left: 80px;
   background-color: #5867f3;
   display: flex;
   flex-direction: column;
   padding: 20vm 4vm;
   width:30%;
   max-width: 600px;
   height: 70%;
   border-radius: 10px;
}
.container form h3{
position: fixed;
   color: rgb(0, 0, 0);
   font-weight: 800px;
   margin-top: 10px;
   margin-left: 150px;
   color: white;
  
}
.container form input , .container form textarea {

   border:0;
   margin: 10px 0;
   padding: 10px;
   outline: none;
   background-color: rgb(255, 255, 255);
   font-size: 16px;
   width:300px;
   margin-left: 50px;
   margin-right: 20px;
   border-radius: 10px;
   
}
.container form button{
   width: 30%;
   margin-left:220px;
   border-radius: 40px;
   padding:10px 10px;
   background-color: rgb(254, 252, 255);
   color: rgb(0, 0, 0);
   outline: none;
   cursor: pointer;
   border: 0;
}
.container .btn {
margin-left: 70px;
margin-top: -35px;
} 


/*bottom to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(243, 11, 80); /* Set a background color */
  color: rgb(0, 0, 0); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(14, 223, 150); /* Add a dark-grey background on hover */
}