/*content */

/* .heading{
    width: 100%;
    height: 100px;
    background-color: rgb(1, 23, 53);
  } 
  .heading h1{
    color: white;
    margin-left: 100px;
    margin-top: 80px;
  } */










  .content123{

    z-index: -1;
    position: absolute;
    margin-left: 20px;
   margin-top:200px;

 }
  .content123 li, a{
    font-weight: 300px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
  }




  .array1 h2, .array2 h2, .array3 h2, .array4 h2, .array5 h2, .array6 h2 
  {
   background-color:rgba(207, 127, 6, 0.9);
  }
  .attr1 h2{
    background-color:rgba(131, 129, 7, 0.9);
  }
  .boolean h2 
    {
      background-color:rgba(153, 0, 255, 0.9);
    }
    .clientreact h2
    {
     background-color:rgba(27, 21, 116, 0.9);
   }
   .childnode h2
   {
    background-color:rgba(247, 41, 26, 0.9);
  }
  .console1 h2, .console2 h2, .console3 h2
  {
    background-color:rgba(27, 130, 161, 0.9);
  }
  .date1 h2, .date2 h2, .date3 h2, .date4 h2
  {
   background-color:rgba(230, 15, 133, 0.9);
 }
 .document1 h2, .document2 h2, .document3 h2, .document4 h2, .document5 h2
 { 
  background-color:rgba(56, 109, 6, 0.9);
}
.error1 h2
{
 background-color:rgba(80, 7, 47, 0.9);
}

.element1 h2 , .element2 h2 , .element3 h2 , .element4 h2 , .element5 h2 , .element6 h2
{
  background-color:rgba(12, 168, 82, 0.9);
}
.event1 h2 , .event2 h2 
{
  background-color:rgba(25, 235, 250, 0.9);
}
.et1 h2 
{
  background-color:rgba(54, 24, 0, 0.9);
}

.events1 h2, .events2 h2, .events3 h2, .events4 h2, .events5 h2 , .events6 h2{
  background-color:rgba(38, 255, 9, 0.9);
}

.function1 h2, .function2 h2{
  background-color:rgba(221, 40, 245, 0.9);
}

.global1 h2{
  background-color:rgba(104, 79, 79, 0.9);
}

.generator1 h2{
  background-color:rgba(255, 213, 213, 0.9);
}

.history1 h2 , .history2 h2
{
  background-color:rgba(47, 0, 255, 0.9);
}
.json1 h2{
  background-color:rgba(39, 177, 147, 0.9);
}
.location1 h2{
  background-color:rgba(128, 230, 11, 0.9);
}
.math1 h2, .math2 h2, .math3 h2, .math4 h2{
  background-color:rgba(247, 159, 124, 0.9);
}
.number1 h2 , .number2 h2{
  background-color:rgba(1, 7, 27, 0.9);
}
.node1 h2, .node2 h2 , .node3 h2
{
  background-color:#f83535e6;
}
.ndtcn h2{
  background-color:#f5c116e6;
} 
.navig1 h2 , .navig2 h2
{
  background-color:#f5c116e6;
}
.object1 h2 , .object2 h2, .object3 h2{
  background-color:#161120e6;
}
.promise1 h2{
  background-color:#0f1a16e6;
}
.proxy1 h2{
  background-color:indigo;
}
.parentNode1 h2{
  background-color:mediumaquamarine;
}
.performance1 h2
{
  background-color:chocolate;
}

.regex1 h2, .regex2 h2, .regex3 h2, .regex4 h2, .regex5 h2, .regex6 h2, .regex7 h2
{ 
  background-color:rgb(46, 49, 2);
}
.set1 h2, .set2 h2, .set3 h2, .set4 h2{
  background-color:rgb(255, 72, 0);
}
.symbol1 h2 , .symbol2 h2
{
  background-color:hotpink;
} 
.screen1 h2 , .screen2 h2
{
  background-color:rgb(107, 2, 51);
}

.storage1 h2, .storage2 h2{
  background-color:powderblue;
}

.window1 h2,  .window2 h2, .window3 h2, .window4 h2, .window5 h2, .window6 h2, .window7 h2, .window8 h2, .window9 h2{
  background-color:rgb(46, 26, 25);
}



@media (min-width: 1024px) {
  .Arr ,
  .attr,
  .bool,
  .clientreact1 ,
  .clidenode1,
  .console,
  .date,
  .document, .document, .error,.element ,.event , .element , .et ,.events,
  .function,   .global ,  .generator ,   .history ,  .json ,   .location , .math ,  .number ,  .node
  , .ndtcn ,.navig ,.object ,.promise ,.proxy ,.parentNode ,.performance,.regexp ,.string ,.set ,
  .symbol ,.screen ,.storage ,  .window ,.other{
    width:fit-content;
    margin-top: 20px;
 
  }

.array1,.array2,.array3,.array4,.array5,.array6,
.attr1,
.boolean,
.clientreact,
.clidenode,
.console1,.console2,.console3,
.date1 , .date2 , .date3 , .date4,
.document1 , .document2, .document3 , .document4 , .document5 ,
.error1 ,.element1  , .element2  , .element3  , .element4  , .element5  , .element6  ,  .event1  , .event2,
.et1 ,.events1 , .events2, .events3 , .events4 , .events5  , .events6, .function1 , .function2 ,
.global1 , .generator1 ,  .history1 ,  .history2 ,  .json1 ,.location1 ,  .math1 , .math2 ,.math3 ,.math4,
.number1 , .number2 ,  .node1,  .node2, .node3,
.ndtcn1 ,.navig1 ,.navig2 ,.object1 ,.object2 ,.object3 ,.promise1 ,.proxy1 ,.parentNode1 ,.performance1
,.regex1 ,.regex2 ,.regex3 , .regex4 ,.regex5 ,.regex6 ,.regex7 ,
.string1 , .string2  ,.set1 ,.set2 ,.set3 ,.set4 ,.symbol1 ,.symbol2 ,.screen1 ,.screen2 ,.storage1 ,.storage2, 
 .window1 ,.window2 ,.window3 ,.window4,.window5 ,.window6 ,.window7,.window8 ,.window9 ,.other1{
  
  border: 1px solid  rgb(0, 0, 0);
  display:inline-block;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}
.array1 h2, .array2 h2, .array3 h2, .array4 h2, .array5 h2, .array6 h2 
  ,.attr1 h2, .bool h2,  .clientreact h2, .childnode h2,.console1 h2, .console2 h2, .console3 h2,
  .date1 h2, .date2 h2, .date3 h2, .date4 h2,
  .document1 h2, .document2 h2, .document3 h2, .document4 h2, .document5 h2 ,  .error1 h2, .element1 h2 ,
   .element2 h2 , .element3 h2 , .element4 h2 , .element5 h2 , .element6 h2,  .et1 h2 
  .event1 h2 , .event2 h2 , .events1 h2, .events2 h2, .events3 h2, .events4 h2, .events5 h2 , .events6 h2,
  .function1 h2, .function2 h2,
  .global1 h2 ,  .generator1 h2 , .history1 h2 , .history2 h2 ,  .json1 h2 ,.location1 h2 ,
  .math1 h2, .math2 h2, .math3 h2, .math4 h2 ,  .number1 h2 , .number2 h2 ,
  .node1 h2, .node2 h2 , .node3 h2 , 
  .ndtcn1 h2 ,.navig1 h2 , .navig2 h2 ,.object1 h2 , .object2 h2, .object3 h2 ,.promise1 h2 ,.proxy1 h2
  ,.parentNode1 h2 ,.performance1 h2, .regex1 h2, .regex2 h2, .regex3 h2, .regex4 h2, .regex5 h2, .regex6 h2, .regex7 h2
  ,.string1 h2, .string2 h2,.set1 h2, .set2 h2, .set3 h2, .set4 h2,
  .symbol1 h2 , .symbol2 h2 ,.screen1 h2 , .screen2 h2 ,.storage1 h2, .storage2 h2,
  .window1 h2,  .window2 h2, .window3 h2, .window4 h2, .window5 h2, .window6 h2, .window7 h2, .window8 h2, .window9 h2{
    font-size:18px;
    color: white;
  }

}





@media (max-width: 767px) {
  .Arr ,
  .attr,
  .bool,
  .clientreact
   .clidenode1,
  .console,
  .date ,
  .document, .document, .error,.element ,.event , .element , .et ,.events,
  .function,   .global ,  .generator ,   .history ,  .json ,   .location , .math ,  .number ,  .node
  , .ndtcn ,.navig ,.object ,.promise ,.proxy ,.parentNode ,.performance,.regexp ,.string ,.set ,
  .symbol ,.screen ,.storage ,  .window ,.other  
  {
    position: relative;
    width:fit-content;
    margin-top: 20px;
  
 
  }
  .array1,.array2,.array3,.array4,.array5,.array6 ,
  .attr1,
  .boolean,
  .clientreact,
  .clidenode,
  .console1,.console2,.console3,
  .date1 , .date2 , .date3 , .date4  ,
  .document1 , .document2, .document3 , .document4 , .document5 ,
  .error1 ,.element1  , .element2  , .element3  , .element4  , .element5  , .element6  ,  .event1  , .event2,
  .et1 ,.events1 , .events2, .events3 , .events4 , .events5  , .events6, .function1 , .function2 ,
  .global1 , .generator1 ,  .history1 ,  .history2 ,  .json1 ,.location1 ,  .math1 , .math2 ,.math3 ,.math4,
  .number1 , .number2 ,  .node1,  .node2, .node3,
  .ndtcn1 ,.navig1 ,.navig2 ,.object1 ,.object2 ,.object3 ,.promise1 ,.proxy1 ,.parentNode1 ,.performance1
  ,.regex1 ,.regex2 ,.regex3 , .regex4 ,.regex5 ,.regex6 ,.regex7 ,
  .string1 , .string2  ,.set1 ,.set2 ,.set3 ,.set4 ,.symbol1 ,.symbol2 ,.screen1 ,.screen2 ,.storage1 ,.storage2, 
   .window1 ,.window2 ,.window3 ,.window4,.window5 ,.window6 ,.window7,.window8 ,.window9 ,.other1  
   { 
    border: 1px solid  rgb(0, 0, 0);
    display:block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
  }

  .array1 h2, .array2 h2, .array3 h2, .array4 h2, .array5 h2, .array6 h2  ,.attr1 h2, .boolean h2 ,  .clientreact h2, .childnode h2,.console1 h2, .console2 h2, .console3 h2,
  .date1 h2, .date2 h2, .date3 h2, .date4 h2,
  .document1 h2, .document2 h2, .document3 h2, .document4 h2, .document5 h2 ,  .error1 h2, .element1 h2 ,
   .element2 h2 , .element3 h2 , .element4 h2 , .element5 h2 , .element6 h2,  .et1 h2 
  .event1 h2 , .event2 h2 , .events1 h2, .events2 h2, .events3 h2, .events4 h2, .events5 h2 , .events6 h2,
  .function1 h2, .function2 h2,
  .global1 h2 ,  .generator1 h2 , .history1 h2 , .history2 h2 ,  .json1 h2 ,.location1 h2 ,
  .math1 h2, .math2 h2, .math3 h2, .math4 h2 ,  .number1 h2 , .number2 h2 ,
  .node1 h2, .node2 h2 , .node3 h2 , 
  .ndtcn1 h2 ,.navig1 h2 , .navig2 h2 ,.object1 h2 , .object2 h2, .object3 h2 ,.promise1 h2 ,.proxy1 h2
  ,.parentNode1 h2 ,.performance1 h2, .regex1 h2, .regex2 h2, .regex3 h2, .regex4 h2, .regex5 h2, .regex6 h2, .regex7 h2
  ,.string1 h2, .string2 h2,.set1 h2, .set2 h2, .set3 h2, .set4 h2,
  .symbol1 h2 , .symbol2 h2 ,.screen1 h2 , .screen2 h2 ,.storage1 h2, .storage2 h2,
  .window1 h2,  .window2 h2, .window3 h2, .window4 h2, .window5 h2, .window6 h2, .window7 h2, .window8 h2, .window9 h2 
  {
  color: white;
  font-size:17px;
  }
  }

 

 
  




